* {
  padding: 0.5px;
  margin: 0.5px;
}

body {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

#tit1 {
  text-align: center;
}

header {
  background-color: orange;
}

li {
  display: inline;
  background-color: orangered;
  width: 10px;
  height: 10px;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 30px;
}

.sop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#parrafo {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}

.rece {
  background-color: orangered;
}

section {
  height: 500px;
  width: 100%;
}

footer p {
  text-align: center;
  background-color: orange;

  padding: 25px;
}

#con {
  margin: 30px;
}
